body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;

}

.container {
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: greenyellow;
    text-align: center;
    margin-top: 2rem;
}

label {
    display: block;
    margin-top: 1rem;
    text-align: center;
}

input[type="number"], select {
    width: 50px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
}