#title, .center {
    display: block;
    margin: 0 auto;
}

button.center {
    width: 8rem; 
    height: 4rem; 
    margin-top: 2rem; 
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
}

button:hover {
    background-color: greenyellow;
}

#title {
    color: greenyellow;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}
